<!-- ========== FOOTER ========== -->
<footer class="mt-auto w-full py-10 px-4 sm:px-6 lg:px-8 bg-blue-950">
  <!-- Grid -->
  <div class="max-w-[85rem] mx-auto text-center">
    <!-- End Col -->

    <div class="mt-3">
      <p class="text-gray-500 dark:text-neutral-500">
        The sky's
        <a class="text-blue-600 decoration-2 hover:underline focus:outline-hidden focus:underline font-medium dark:text-blue-500" > the limit</a> 
      </p>
      <p class="text-gray-500 dark:text-neutral-500">
        © 2025 Chala_Dev
      </p>
    </div>
  </div>
  <!-- End Grid -->
</footer>
<!-- ========== END FOOTER ========== -->
